.topo-php {
  background-color: #d2acec;
  padding: 5px 10px 5px 40px;
  float: left;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-align: center;
}

#topo-msg {
  justify-content: left;
  display: flex;
  width: 50%;
  float: left;
}

.btn-usuario-php {
  justify-content: right;
  display: flex;
  width: 50%;
  float: right;
}

#ir-para-btn {
  width: 200px;
  border: 2px solid #76edb4;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  background: #76edb4;
  padding: 10px;
  float: left;
}

#ir-para-btn:hover {
  border: 2px outset #bfe2c1;
  background: #6bd1a0;
}

#bem-vindo {
  justify-content: center;
  padding: 20px 20px 20px 20px;
  width: 100%;
  float: left;
}

p {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000;
  padding: 20px 20px 20px 20px;
  width: 100%;
  float: left;
}

#mensagem-exception {
  color: rgb(132, 128, 135);
  font-size: 15px;
  background: rgb(250, 247, 250);
  border-radius: 5px;
  width: fit-content;
}
